# If true, the 'sameSite' policy of CORS will be 'none'. This is
# usefull for local development, when apps ran locally should access API.
# This can be removed if not needed.
# true|false
ALLOW_CROSS_ORIGIN="YOUR_ALLOW_CROSS_ORIGIN"

# This port will be mapped in compose file. Default one is 4242
PORT="YOUR_PORT"
# Optionally set timezone for projects
TZ="YOUR_TZ"

# Database settings (for docker-compose)
PGDATABASE="YOUR_PGDATABASE"
PGUSER="YOUR_PGUSER"
PGPASSWORD="YOUR_PGPASSWORD"

# Postgres DB connection url for local development. This does not effect Docker image.
# postgresql://<username>:<password>@<host>:<port>/<dbname>?schema=public
DATABASE_URL="YOUR_DATABASE_URL"

# Set this string to any one
JWT_SECRET="YOUR_JWT_SECRET"
ARGON_SECRET="YOUR_ARGON_SECRET"

# Define domain that will be allowed for CORS
# (if website is landed in brilliantsite.com, and api is landed on
# api.brilliantsite.com, then trusted domain (APP_HOST) have to be brilliantsite.com.
APP_HOST="YOUR_APP_HOST"